/* Mobile styles below */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1.3rem;
  flex-direction: column;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  min-width: 16rem;
  max-width: 25rem;
}

.img-box {
  width: 100%;
}

.article-img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  height: 14rem;
  object-position: top;
}

.content {
  padding: 2rem 2rem 1rem 2rem;
}

.content h1 {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.byline {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.profile-pic {
  border-radius: 50%;
  width: 3rem;
}

.author {
  flex-basis: 100%;
}

h1,
address {
  color: hsl(217, 19%, 35%);
  font-style: normal;
  font-weight: 700;
}

p {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}

.content p {
  padding-right: 0.8rem;
}
time {
  color: hsl(212, 23%, 69%);
}

.share-button {
  border-style: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: 1rem;
}

.social-box {
  position: absolute;
  background-color: hsl(217, 19%, 35%);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  top: 1rem;
  left: 0;
}

.social-box p {
  color: hsl(212, 23%, 69%);
  flex-basis: 40%;
}

.socials {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-basis: 60%;
}

.social-box .share-button {
  background-color: hsl(214, 17%, 51%);
}

.show {
  display: block;
}

.hide {
  display: none;
}
/* Styles below for desktop view */

@media (min-width: 1339px) {
  .container {
    display: flex;
    max-width: 45rem;
  }

  .content h1 {
    font-size: 1.3rem;
  }

  .article-img {
    height: auto;
    width: 17rem;
    object-position: left;
    border-radius: 10px 0 0 10px;
  }

  .byline {
    padding: 0rem 2rem 1rem 2rem;
  }

  .social-box {
    top: -70px;
    left: 300px;
    width: 50%;
    border-radius: 10px;
    filter: drop-shadow(hsl(214, 17%, 51%) 0 2px 3px);
  }

  .social-box::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  }
}
