@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1.3rem;
  flex-direction: column;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  min-width: 16rem;
  max-width: 30rem;
}

.img-box {
  width: 100%;
}

.article-img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  height: 13rem;
  object-position: 50% 30%;
}

.content {
  padding: 2rem 0rem 1rem 0rem;
}

.content-box {
  padding: 0rem 2rem;
}

.content h1 {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.byline {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-pic {
  border-radius: 50%;
  width: 3rem;
}

.byline div {
  flex-basis: 100%;
}

h1,
address {
  color: hsl(217, 19%, 35%);
  font-style: normal;
  font-weight: 700;
}

p {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  padding-right: 0.8rem;
}
time {
  color: hsl(212, 23%, 69%);
}

button {
  border-style: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: 1rem;
}

@media (min-width: 1339px) {
  .container {
    display: flex;
    max-width: 45rem;
  }

  .content h1 {
    font-size: 1.3rem;
  }

  .article-img {
    height: auto;
    width: 17rem;
    object-position: left;
    border-radius: 10px 0 0 10px;
  }

  .byline {
    padding: 0rem 0rem 1rem 0rem;
  }
}
